@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Regular.woff2) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Medium.woff2) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-SemiBold.woff2) format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Bold.woff2) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-ExtraBold.woff2) format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Black.woff2) format("woff");
  font-weight: 900;
}

* {
  box-sizing: border-box;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2e3440;
  font-size: 21px;
  color: #e5e9f0;
}

footer {
  display: flex;
  justify-content: center;
  padding: 37px;
}

a:visited {
  color: #81a1c1;
}

a:hover {
  color: #8fbcbb;
}

a {
  color: #5e81ac;
}

.App-header {
  padding: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header-menu {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.App-header-menu a {
  margin-left: 21px;
  font-size: 28px;
}

.App-link {
  color: #61dafb;
}

p {
  margin: 0;
}

.progress,
.error {
  position: absolute;
  top: 0;
}

.progress {
  color: greenyellow;
}

.error {
  color: #bf616a;
}

textarea,
input {
  font-size: calc(10px + 2vmin);
  width: 100%;
  background-color: #3b4252;
  margin-top: 64px;
  color: #eceff4;
  resize: none;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button {
  background: none !important;
  color: #ebcb8b;
  border: none;
  padding: 0 !important;
  font: inherit;
  /*border is optional*/
  border-bottom: 2px solid #ebcb8b;
}

button:disabled {
  color: #4c566a;
  border-bottom: 2px solid #4c566a;
  cursor: not-allowed;
}

button:hover:enabled {
  cursor: pointer;
  color: #a3be8c;
  border-bottom: 2px solid #a3be8c;
}
